<header class="masthead">
  <div class="masthead__inner-wrap">
    <nav class="site-nav" aria-label="Main navigation">
      {% for link in site.data.navigation.main %}
        {% if link.url contains '://' %}
          {% assign destination = link.url %}
        {% else %}
          {% assign destination = link.url | relative_url %}
        {% endif %}
        <a href="{{ destination }}"{% if link.url == '/' %} data-intro-home{% endif %}{% if page.url == link.url %} aria-current="page"{% endif %}>{{ link.title | escape }}</a>
      {% endfor %}
    </nav>
  </div>
</header>
