/* ==========================================================================
   FOOTER
   ========================================================================== */

.page__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 80px;
  background-color: $footer-background-color;
  color: mix(#fff, $footer-background-color, 60%);
  animation: intro 0.3s both;
  animation-delay: 0.45s;
  
  footer {
    @include container;
    @include clearfix;
    max-width: $x-large;
    padding: 1.5em 1em;
    font-family: $global-font-family;
    font-size: $type-size-7;
  }

  a {
    color: mix(#fff, $footer-background-color, 70%);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: mix(#fff, $footer-background-color, 90%);
    }
  }

  .page__footer-follow li {
    display: inline-block;
    padding-top: 5px;
    font-size: $type-size-7;
    text-transform: uppercase;
  }

  .page__footer-copyright {
    display: block;
  }
}
